<%- title 'Dashboard' %>
<h2>Min instrumentbräda</h2>

<h3>Aktuella budgetar</h3>
<table>
  <tr>
    <th>Period</th>
    <th>Spent</th>
    <th>Left</th>
  </tr>
<% @current_budgets.each do |budget| %>
  <tr>
    <td><%= link_to budget.start.to_s(:short) + " till " + budget.end.to_s(:short), budget %></td>
    <td><%= number_to_currency 100 %> (<%= number_to_currency(100 / budget.days_gone.ceil) %>/d)</td>
    <td><%= number_to_currency 200 %> (<%= number_to_currency(200 / budget.days_left.ceil) %>/d)</td>
  </tr>
<% end %>
</table>
