<%= form_for(@budget_post) do |f| %>
  <% if @budget_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_post.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= collection_select(:budget_post, :parent_id, current_user.budget_posts.sort_by(&:name), :id, :name, options = {:prompt => "-Välj en post-"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
