%table
  %thead
    %tr
      %th Name
      %th Description
      %th Count
      %th Amount
  %tbody
  - @budget_posts.each do |budget_post|
    %tr
      %td= link_to budget_post.name, budget_post
      %td= budget_post.description
      %td= budget_post.transactions.count
      - tsum = budget_post.transactions.sum(:amount).to_f
      - klass = tsum >= 0.0 ? "plus" : "minus"
      %td.currency{:class => klass}= number_to_currency tsum
      %td= modification_image_links(budget_post)
  %tfoot
    %tr
      %th Name
      %th Description
      %th Count
      %th Amount
