= semantic_form_for @budget do |form|
  = form.inputs :name => "Tid" do
    = form.input :starts_at, :as => :string
    = form.input :ends_at, :as => :string

  = form.inputs :name => BudgetItem.model_name.human do
    = form.semantic_fields_for :budget_items do |item|
      = render 'budget_item_fields', :f => item
    .links
      = link_to_add_association 'add budget item', form, :budget_items, :class => "btn small success"
  = form.buttons do
    = form.submit :class => "btn primary"

