%table
  %thead
    %tr
      %th Start
      %th End
      %th Spent
      %th Left
  %tbody
    - @budgets.each do |budget|
      %tr
        %td= budget.start.to_s(:short)
        %td= budget.end.to_s(:short)
        %td
          = number_to_currency budget.spent
          = '(' + number_to_currency(budget.spent_per_day) + '/d)'
        %td
          = number_to_currency budget.left
          = '(' + number_to_currency(budget.left_per_day) + '/d)'
        %td
          =link_to image_tag("icons/zoom.png", :alt => "Show budget"), budget
          =link_to image_tag("icons/wrench.png", :alt => "Edit budget"), edit_budget_path(budget)
          =link_to image_tag("icons/delete.png", :alt => "Delete budget"), budget, :confirm => 'Are you sure?', :method => :delete
