%table
  %thead
    %tr
      %th Start
      %th End
      %th Diff
      %th Spending margin
  %tbody
    - budgets.each do |budget|
      %tr
        %td= budget.start.to_s(:short)
        %td= budget.end.to_s(:short)
        - klass = budget.diff >= 0 ? "plus" : "minus"
        %td.currency{:class => klass}
          = number_to_currency budget.diff
        - klass = budget.diff >= 0 ? "plus" : "minus"
        %td.currency{:class => klass}
          = number_to_currency(-budget.margin_per_day) + '/d'
        %td= modification_image_links(budget)
  %tfoot
    %tr
      %th Start
      %th End
      %th Diff
      %th Spending margin
