<%- title t('budgets.title') %>
<h2><%= t('budgets.index.header') %></h2>

<table>
  <tr>
    <th>ID</th>
    <th>Start</th>
    <th>End</th>
  </tr>

<% @budgets.each do |budget| %>
  <tr>
    <td><%= link_to budget.id, budget %></td>
    <td><%= budget.start.to_s(:short) %></td>
    <td><%= budget.end.to_s(:short) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('budgets.index.new'), new_budget_path %>
