- title show_title(@budget)
%h2
  = show_title(@budget)
  = link_to image_tag("icons/wrench.png", :alt => "Edit"), edit_budget_path(@budget)
  = link_to image_tag("icons/delete.png", :alt => "Delete"), @budget, :confirm => 'Säker?', :method => :delete

%p
  %dl
    %dt Start
    %dd= @budget.start
    %dt End
    %dd= @budget.end

%p
  %table
    %thead
      %tr
        %th Budget post
        %th Amount
    %tbody
      - @budget.budget_items.each do |budget_item|
        %tr
          %td= link_to budget_item.budget_post.name, budget_item.budget_post
          - klass = budget_item.amount >= 0 ? "plus" : "minus"
          %td.currency{:class => klass}
            = number_to_currency budget_item.amount
    %tfoot
      %tr
        %th Budget post
        %th Amount

