<%- title t('budgets.title') %>
<h2>Budget #<%= @budget.id %></h2>

<p>
  <b>Start:</b>
  <%= @budget.start %>
</p>

<p>
  <b>End:</b>
  <%= @budget.end %>
</p>

<p>
  <b>Amount:</b>
  <%= @budget.amount %>
</p>


<%= link_to t('common.edit'), edit_budget_path(@budget) %> |
<%= link_to t('common.delete'), @budget, :confirm => t('common.delete_confirm'), :method => :delete %> |
<%= link_to t('common.back'), budgets_path %>
