- title show_title(@budget)
%h2
  = show_title(@budget)
  = link_to image_tag("icons/wrench.png", :alt => "Edit"), edit_budget_path(@budget)
  = link_to image_tag("icons/delete.png", :alt => "Delete"), @budget, :confirm => 'Säker?', :method => :delete

%dl
  %dt Start
  %dd= @budget.start
  %dt End
  %dd= @budget.end

%dl
  - @budget.budget_items.each do |budget_item|
    %dt= budget_item.try(:budget_post).try(:name)
    %dd= number_to_currency budget_item.try(:amount)

