<%- title 'Kategorier' %>
<h2><%= @category.name %></h2>

<p id="notice"><%= notice %></p>

<%= link_to 'Ändra', edit_category_path(@category) %> |
<%= link_to 'Ta bort', @category, :confirm => 'Säker?', :method => :delete %> |
<%= link_to 'Tillbaka', categories_path %>
