<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :account %><br />
    <%= collection_select(:transaction, :account_id, current_user.accounts.sort_by(&:name), :id, :name, options = {:prompt => "-Välj ett konto-"}) %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= text_field_with_auto_complete :vendor, :name, :value => (@transaction.vendor.name if @transaction.vendor) %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= collection_select(:transaction, :location_id, Location.all.sort_by(&:name), :id, :name, options = {:prompt => "-Välj en plats-"}) %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
