= semantic_form_for @transaction do |form|
  = form.inputs :name => Transaction.model_name.human do
    = form.input :timestamp, :as => :string
    = form.input :vendor_name, :as => :string

    = form.input :tag_list

    = form.input :description
    = form.inputs :name => TransactionItem.model_name.human do
      = form.semantic_fields_for :transaction_items do |item|
        = render 'transaction_item_fields', :f => item
      .links
        = link_to_add_association 'Add item', form, :transaction_items
    = form.buttons do
      = form.submit

