= semantic_form_for @transaction do |form|
  = form.input :timestamp
  = form.label :vendor
  = text_field_with_auto_complete :vendor, :name, :value => (@transaction.vendor.name if @transaction.vendor)
  = form.input :tag_list
  = form.input :description
  = form.inputs :name => 'Transaction Item #%i', :for => :transaction_items do |tif|
    = tif.input :budget_post, :include_blank => false
    = tif.input :amount
  = form.submit

