<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= text_field_with_auto_complete :vendor, :name, :value => (@transaction.vendor.name if @transaction.vendor) %>
  </div>
  <div class="field">
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
  <%= f.fields_for :transaction_items do |tif| %>
     <%= tif.label :budget_post %><br />
     <%= collection_select(:transaction_item, :budget_post_id, current_user.budget_posts.sort_by(&:name), :id, :name, :options => {:prompt => "-Välj"}) %>
     <%= tif.label :amount %><br />
     <%= tif.text_field :amount %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
