%table
  %thead
    %th Tidsst채mpel
    %th Belopp
    %th Aff채r
    %th Beskrivning
  %tbody
    - transactions.each do |transaction|
      %tr
        %td= transaction.timestamp.to_s(:iso8601)
        - klass = transaction.amount >= 0.0 ? "plus" : "minus"
        %td.currency{:class => klass}= number_to_currency(transaction.amount)
        %td= link_to(transaction.vendor.name, transaction.vendor) if transaction.vendor
        %td= transaction.description if transaction.description
        %td= modification_image_links(transaction)
  %tfoot
    %tr
      %td
      - sum = transactions.map(&:amount).sum
      - klass = sum >= 0.0 ? "plus" : "minus"
      %td.currency{:class => klass}= number_to_currency(sum)
      %td Totalt
      %td
      %td
    %tr
      %th Tidsst채mpel
      %th Belopp
      %th Aff채r
      %th Beskrivning

