<%- title "Transaktion" %>
<h2>Listar transaktioner</h2>

<table>
  <thead>
    <th>Tidsstämpel</th>
    <th>Vad?</th>
    <th>Kommentar</th>
    <th>Belopp</th>
  </thead>
  <tbody>
<%- @transactions.each do |transaction| -%>
  <tr>
    <td><%= link_to transaction.timestamp, transaction %></td>
    <td><%= link_to(transaction.vendor.name, transaction.vendor) if transaction.vendor %> @ <%= link_to(transaction.location.name, transaction.location) if transaction.location %></td>
    <td><%= transaction.comment if transaction.comment %></td>
    <td><%= number_to_currency(transaction.amount) %></td>
  </tr>
<%- end -%>
  </tbody>
  <tfoot>
    <th>Tidsstämpel</th>
    <th>Vad?</th>
    <th>Kommentar</th>
    <th>Belopp</th>
  </tfoot>
</table>

<br />

<%= link_to 'Ny transaktion', new_transaction_path %>
