<%- title "Transaktion" %>
<p id="notice"><%= notice %></p>
<h2>Transaktion #<%= @transaction.id %></h2>

<h3><%= @transaction.amount %> SEK</h3>
<p><i><%= @transaction.timestamp %></i></p>
<%- if @transaction.comment %>
<p><%= @transaction.comment %><p>
<%- end %>

<%= link_to 'Ändra', edit_transaction_path(@transaction) %> |
<%= link_to 'Ta bort', @transaction, :confirm => 'Säker?', :method => :delete %>
<%= link_to 'Tillbaka', transactions_path %>
