- title "Transaktion"

%h2= @transaction.vendor ? link_to(@transaction.vendor.name, @transaction.vendor) : '(ej angivet)'

%h3
  = @transaction.timestamp.to_s(:iso8601)
  = link_to image_tag("icons/wrench.png", :alt => "Edit"), edit_transaction_path(@transaction)
  = link_to image_tag("icons/delete.png", :alt => "Delete"), @transaction, :confirm => 'Säker?', :method => :delete

%p
  %table
    %thead
      %tr
        %th Budget post
        %th Amount
    %tbody
      - @transaction.transaction_items.each do |item|
        %tr
          %td= link_to item.budget_post.name, item.budget_post
          - klass = item.amount >= 0 ? "plus" : "minus"
          %td.currency{:class => klass}
            = number_to_currency item.amount
    %tfoot
      %tr
        %th Budget post
        %th Amount


%p
  Beskrivning:
  = @transaction.description || '(ingen)'
%p
  Taggar:
  =raw @transaction.tags.collect{|t| link_to t.name, tag_path(t) }.join(', ')

