<%- title "Transaktion" %>
<h2>Transaktion #<%= @transaction.id %></h2>
<h3><%= @transaction.timestamp.to_s(:short) %></h3>

<p>
<%= @transaction.vendor ? link_to(@transaction.vendor.name, @transaction.vendor) : '(ej angivet)' %><br />
<%= @transaction.description || '(ingen)' %>
</p>

<p>Taggad med: <%= @transaction.tag_list.join(', ') %></p>

<%= link_to 'Ändra', edit_transaction_path(@transaction) %> |
<%= link_to 'Ta bort', @transaction, :confirm => 'Säker?', :method => :delete %> |
<%= link_to 'Tillbaka', transactions_path %>
