!!!
%html
  %head
    -# <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    %title
      = h(t('application.name')) + " - " + (h(yield(:title) || t('application.unnamed')))
    -# <link rel="shortcut icon" href="/favicon.ico" />
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = yield(:head)
    = csrf_meta_tag

  %body
    %div#container
      %div#header
        %h1
          = link_to t('application.name'), root_url
      %div.clear
        %div#nav
          %ul
            %li.left{:class => request.path.match("^/$") ? "active" : ""}
              = link_to t('application.home'), root_url
            - if logged_in?
              %li.left{:class => active_tab?(:budget) ? "active" : ""}
                = link_to t('application.budgets'), budgets_url
              %li.left{:class => active_tab?(:budget_posts) ? "active" : ""}
                = link_to t('application.budget_posts'), budget_posts_url
              %li.left{:class => active_tab?(:transaction) ? "active" : ""}
                = link_to t('application.transactions'), transactions_url
              %li.left{:class => active_tab?(:vendor) ? "active" : ""}
                = link_to t('application.vendors'), vendors_url
              %li.left{:class => active_tab?(:tag) ? "active" : ""}
                = link_to t('application.tags'), tags_url

              %li.right
                = link_to t('application.logout'), logout_path
              %li.right{:class => active_tab?(:user) ? "active" : ""}
                = link_to t('application.settings'), current_user
              %li.right
                = link_to t('application.dashboard'), dashboard_path
            - else
              %li.right
                = link_to t('application.login'), login_path
              %li.right
                = link_to t('application.register'), new_user_path
          %div.clear
        
        %div#content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield

