!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title= build_title
    %meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, maximum-scale=1.0"}
    %link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

    = #stylesheet_link_tag 'jquery-ui-1.8.14.custom', 'jquery-ui-timepicker'
    = #stylesheet_link_tag 'formtastic', 'formtastic_changes'
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'print', media: 'print'
    = javascript_include_tag 'application'
    = #javascript_include_tag 'jquery-ui-1.8.14.custom.min', 'jquery-ui-timepicker-addon.js'

    = yield(:head)

    = csrf_meta_tag

    / [if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'


  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %nav.container-fluid
          %a.btn.btn-navbar{ data: { toggle: "collapse", target: ".nav-collapse" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to "Spargris", root_path, :class => 'brand'

          .nav-collapse
            = render_navigation(:level => 1..2, renderer: BootstrapMenuList, expand_all: true)

    - flash.each do |name, msg|
      .container-fluid
        .alert
          = link_to "X", "#", class: "close", data: { dismiss: "alert" }
          = msg

    = content_for?(:content) ? yield(:content) : yield

    %footer.container-fluid
      .row-fluid
        .span12
          %p &copy; Victor Koronen 2011
