<%- title 'Konton' %>
<p id="notice"><%= notice %></p>
<h2><%= @account.name %></h2>
<h3>Balans: <%= number_to_currency @account.transactions.sum(:amount) %></h3>

<%= link_to 'Ändra', edit_account_path(@account) %> |
<%= link_to 'Ta bort', @account, :confirm => 'Säker?', :method => :delete %> |
<%= link_to 'Tillbaka', accounts_path %>
